<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div id="app">
            <form>
                <div class="form-group">
                    <p> appId : {{ appUserRole.appId }}</p>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" v-model="appUserRole.username"/>
                </div>
                <div class="form-group">
                    <label for="appRole">AppRole</label>
                    <input type="text" class="form-control" id="appRole" v-model="appUserRole.appRole"/>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary" href="#" role="button" v-on:click="save">Save</a>
                        <a class="btn btn-default" v-bind:href="'appUserRoleList.html?appId=' + appUserRole.appId">Cancel</a>
                    </div>
                </div>

                <div class="row" v-for="error in errors">
                    <div class="col-12 text-danger">
                        {{ error }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="vendor/vue/dist/vue.js"></script>
    <script src="js/appUserRoleForm.js"></script>
</body>
</html>