<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div id="app">
            <form>
                <div class="form-group">
                    <p> appId : {{ appUserRole.appId }}</p>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" v-model="appUserRole.username"/>
                </div>
                <div class="form-group">
                    <label for="appRole">AppRole</label>
                    <input type="text" class="form-control" id="appRole" v-model="appUserRole.appRole"/>
                </div>
                <button type="button" class="btn btn-primary" v-on:click="save">Save</button>
            </form>
        </div>
    </div>
    <script src="vendor/vue/dist/vue.js"></script>
    <script src="js/appUserRoleForm.js"></script>
</body>
</html>