<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div id="app">
            <form>
                <div class="form-group">
                    <p>{{ id }}</p>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" v-model="username"/>
                </div>
                <div class="form-group">
                    <label for="appRole">AppRole</label>
                    <input type="text" class="form-control" id="appRole" v-model="appRole"/>
                </div>
            </form>
            <div>
                {{message}}
            </div>
        </div>
    </div>
    <script src="vendor/vue/dist/vue.js"></script>
    <script src="js/newUserForm.js"></script>
</body>
</html>